<section id="hero" class="">
	<div class="max-w-6xl px-3 grid grid-cols-1 gap-2 md:grid-cols-2 md:grid-rows-1 mx-auto min-h-screen">
		<div class="flex justify-center flex-col text-left">
			<div class="box p-3">
				<h1 class="mt-32 md:mt-0 leading-2 font-serif pb-3 font-black text-primary text-6xl md:text-7xl line-clamp-2">
					Mieszkania <br />
					w Łodzi...
				</h1>
				<p class="text-primary text-lg">Szukasz mieszkania, pokoju ? A może chcesz zainwestować w mieszkania na wynajem. Świetnie trafiłeś, chętnie ci w tym pomożemy</p>
				<div class="btn-group flex text-white mt-4 bg-slate-100 px-3 py-5">
					<div class="flex justify-between items-center border-2 border-primary transition-colors duration-300 cursor-pointer uppercase font-semibold btn px-3 py-2 mr-3 bg-primary rounded-sm hover:bg-white hover:text-primary">
						<span class="mr-2">Więcej</span>
						<svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
						</svg>
					</div>
					<div class="flex cursor-pointer uppercase font-semibold btn px-3 py-2 mr-3 border-primary border-2 text-primary rounded-sm hover:bg-primary hover:text-zinc-100 transition-colors duration-300">
						<span class="mr-2"> Kontakt </span>
						<svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6H5a2 2 0 00-2 2v9a2 2 0 002 2h14a2 2 0 002-2V8a2 2 0 00-2-2h-5m-4 0V5a2 2 0 114 0v1m-4 0a2 2 0 104 0m-5 8a2 2 0 100-4 2 2 0 000 4zm0 0c1.306 0 2.417.835 2.83 2M9 14a3.001 3.001 0 00-2.83 2M15 11h3m-3 4h2" />
						</svg>
					</div>
				</div>
			</div>
		</div>
		<div class="center">
			<figure class="p-5 shadow rounded">
				<img src="https://images.pexels.com/photos/10334730/pexels-photo-10334730.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="" srcset="https://images.pexels.com/photos/10334730/pexels-photo-10334730.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940 2x" />
			</figure>
		</div>
	</div>
</section>
