figure {
	background: red;
	&:nth-child(3) {
	}
	img {
		object-fit: cover;
		background: blue;
		height: 100%;
		width: 100%;
	}
}

.close-slideshow {
	transform: rotate(45deg);
	transition: transform all ease-in-out 0.3s;
	cursor: pointer;
	span {
		position: absolute;
		transition: transform ease-in-out 0.3s;
		width: 50%;
		height: 3px;
		background: #14532d;
	}
	:nth-child(1) {
		transform: rotate(90deg);
	}

	&:hover {
		:nth-child(1) {
			transform: rotate(495deg);
		}
		:nth-child(2) {
			transform: rotate(315deg);
		}
	}
}

.gallery-thumb {
	position: relative;
	&:hover {
		.zoom {
			transition: transform ease-in-out 0.3s;
			transform: translateY(0%);
			svg {
				transform: scale(2.3);
			}
		}
	}
	.zoom {
		pointer-events: none;
		z-index: 1;
		position: absolute;
		width: 100%;
		height: 100%;
		background: rgba(#fff, 0.4);
		display: flex;
		justify-content: center;
		align-items: center;
		transform: translateY(100%);
		svg {
			transition: transform ease-in-out 1.7s;
		}
	}
}
