header {
	width: 100vw;
	height: 80px;
	transition: all ease-in-out 0.3s;
	// background: #2c2c2c;
	// opacity: 0.6;
	background: linear-gradient(rgba(#fff, 1), rgba(#2c2c2c, 0));
	color: whitesmoke;
}
.header-scrolled {
	height: 70px;
	color: #2c2c2c;
	background: #fff;
}
.brand {
	font-weight: 900;
}
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	ul {
		height: 100%;
		display: flex;
		a {
			height: 100%;
			display: inline-flex;
			justify-content: center;
			align-items: center;
		}
	}
}

.logo {
	transition: all ease-in-out 0.3s;
	// background: rgba(rgb(146, 145, 145), 1);
	background: white;
	transform-origin: top;
	height: 100px;
	transform: translateY(10px);
	border-radius: 5%;
	padding: 1rem;
}
.logo-scrolled {
	height: 60px;
	padding: 0rem;
	background: rgba(#fff, 1);
	transform: translateY(0px);
}
